In [2]:
import pandas as pd
import os

In [3]:

def sep_tables(file_path):
    output_file_path = 'output_excel_file.xlsx'

    # Read the Excel file
    df = pd.read_excel(file_path)

    # Initialize an Excel writer
    writer = pd.ExcelWriter(output_file_path, engine='xlsxwriter')

    # Function to count the number of non-empty cells in a row
    def count_non_empty_cells(row):
        return sum(1 for cell in row if pd.notnull(cell))

    # Find and save each table to a separate sheet
    table_num = 1
    start_row = None
    prev_row_length = None
    for i in range(len(df)):
        row = df.iloc[i]
        # Count the number of non-empty cells in the row
        row_length = count_non_empty_cells(row)
        # If it's the start of a new table
        if start_row is None:
            start_row = i
        # If the row length changes or it's the last row
        if row_length != prev_row_length or i == len(df) - 1:
            # End of current table
            end_row = i-1
            # Extract the table block
            table_block = df.iloc[start_row:end_row+1]
            # Write the table to a new sheet
            table_block.to_excel(writer, sheet_name=f'Table_{table_num}', index=False, header=False)
            # Increment table number
            table_num += 1
            # Update start_row for next table
            start_row = i
        # Update the previous row length
        prev_row_length = row_length

    # Close the Excel writer
    writer.close()
    return 'output_excel_file.xlsx'

In [6]:

# Path to the folder containing Excel files
folder_path = './output_excel_files_new'

# Initialize an empty dictionary to store data from all sheets of all files
all_sheets_dict = {}

# Iterate over all files in the folder
for file_name in os.listdir(folder_path)[1:2]:
    if file_name.endswith('.xlsx'):  # Assuming all files are Excel files
        print(file_name)
        file_path1 = os.path.join(folder_path, file_name)
        file_path = sep_tables(file_path1)
        
        
        # Read all sheets of the current file into a dictionary
        sheets_dict = pd.read_excel(file_path, sheet_name=None, engine='openpyxl')

        
        # Merge the current sheets into the main dictionary
        all_sheets_dict.update(sheets_dict)

National Institute of Technology, Raipur_tables.xlsx

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (__init__.py, line 1187)

In [125]:
name_of_class = []
no_of_male_students = []
no_of_female_students = []
no_of_total_students = []
within_state_students = []
outside_state_students = []
outside_country_students = []
economically_backward_students = []
socially_challenged_students = []
full_tuitionfee_reimburse_gov = []
full_tuitionfee_reimburse_institution = []
full_tuitionfee_reimburse_private = []
full_tuitionfee_not_reimburse = []

In [126]:
all_sheets_dict["Table_3"]

,(All programs_x000D_of all years),No. of Male_x000D_Students,No. of Female_x000D_Students,Total Students,Within State_x000D_(Including male_x000D_& female),Outside State_x000D_(Including male_x000D_& female),Outside_x000D_Country_x000D_(Including male_x000D_& female),Economically_x000D_Backward_x000D_(Including male_x000D_& female),Socially_x000D_Challenged_x000D_(SC+ST+OBC_x000D_Including male_x000D_& female),No. of students_x000D_receiving full_x000D_tuition fee_x000D_reimbursement_x000D_from the State_x000D_and Central_x000D_Government,No. of students_x000D_receiving full_x000D_tuition fee_x000D_reimbursement_x000D_from Institution_x000D_Funds,No. of students_x000D_receiving full_x000D_tuition fee_x000D_reimbursement_x000D_from the Private_x000D_Bodies,No. of students_x000D_who are not_x000D_receiving full_x000D_tuition fee_x000D_reimbursement
0,UG [3 Years_x000D_Program(s)],3558,1282,4840,4840,0,0,0,855,855,0,0,0
1,PG [2 Year_x000D_Program(s)],145,136,281,281,0,0,0,43,43,0,0,0

In [127]:
number_of_programs_offered = len(all_sheets_dict["Table_2"])
number_of_programs_offered

2

In [129]:
for i in range(number_of_programs_offered):
    keys = all_sheets_dict["Table_3"].keys()
    class_name = all_sheets_dict["Table_3"][keys[0]][i]
    male_students = int(all_sheets_dict["Table_3"][keys[1]][i])
    female_students = int(all_sheets_dict["Table_3"][keys[2]][i])
    total_students = int(all_sheets_dict["Table_3"][keys[3]][i])
    in_state_students = int(all_sheets_dict["Table_3"][keys[4]][i])
    out_state_students = int(all_sheets_dict["Table_3"][keys[5]][i])
    out_country_students = int(all_sheets_dict["Table_3"][keys[6]][i])
    eb_students = int(all_sheets_dict["Table_3"][keys[7]][i])
    schal_students = int(all_sheets_dict["Table_3"][keys[8]][i])
    ftrg_students = int(all_sheets_dict["Table_3"][keys[9]][i])
    ftri_students = int(all_sheets_dict["Table_3"][keys[10]][i])
    ftrp_students = int(all_sheets_dict["Table_3"][keys[11]][i])
    ftnr_students = int(all_sheets_dict["Table_3"][keys[12]][i])
    name_of_class.append(class_name)
    no_of_male_students.append(male_students)
    no_of_female_students.append(female_students)
    no_of_total_students.append(total_students)
    within_state_students.append(in_state_students)
    outside_state_students.append(out_state_students)
    outside_country_students.append(out_country_students)
    economically_backward_students.append(eb_students)
    socially_challenged_students.append(schal_students)
    full_tuitionfee_reimburse_gov.append(ftrg_students)
    full_tuitionfee_reimburse_institution.append(ftri_students)
    full_tuitionfee_reimburse_private.append(ftrp_students)
    full_tuitionfee_not_reimburse.append(ftnr_students)

In [130]:
print(name_of_class,no_of_male_students,no_of_female_students,no_of_total_students,
      within_state_students,
outside_state_students,
outside_country_students,
economically_backward_students,
socially_challenged_students,
full_tuitionfee_reimburse_gov,
full_tuitionfee_reimburse_institution,
full_tuitionfee_reimburse_private,
full_tuitionfee_not_reimburse)

['UG [3 Years_x000D_Program(s)]', 'PG [2 Year_x000D_Program(s)]'] [3558, 145] [1282, 136] [4840, 281] [4840, 281] [0, 0] [0, 0] [0, 0] [855, 43] [855, 43] [0, 0] [0, 0] [0, 0]