In [130]:
import pandas as pd
import os

In [317]:

def sep_tables(file_path):
    output_file_path = 'output_excel_file.xlsx'

    # Read the Excel file
    df = pd.read_excel(file_path)

    # Initialize an Excel writer
    writer = pd.ExcelWriter(output_file_path, engine='xlsxwriter')

    # Function to count the number of non-empty cells in a row
    def count_non_empty_cells(row):
        return sum(1 for cell in row if pd.notnull(cell))

    # Find and save each table to a separate sheet
    table_num = 1
    # print(df)
    start_row = None
    prev_row_length = None
    for i in range(len(df)):
        row = df.iloc[i]
        # Count the number of non-empty cells in the row
        row_length = count_non_empty_cells(row)
        # If it's the start of a new table
        if start_row is None:
            start_row = i
        # If the row length changes or it's the last row
        # print(i,len(df),df.iloc[48])
        if row_length != prev_row_length or i == len(df)-1:
            # End of current table
            end_row = i-1
            # Extract the table block
            table_block = df.iloc[start_row:end_row+1]
            # Write the table to a new sheet
            table_block.to_excel(writer, sheet_name=f'Table_{table_num}', index=False, header=False)
            if i == len(df)-1:
                df.iloc[i:i+1].to_excel(writer, sheet_name=f'Table_{table_num+1}', index=False, header=False)

            # Increment table number
            table_num += 1
            # Update start_row for next table
            start_row = i
            if i < len(df)-1 and not table_block.empty:
                # print(table_block.iloc[0])
                # print()
                # print()

                # print(df.iloc[i:i+1])
                # print()
                # print()
                # print()
                # print("-------------------------------------------------------------------------------------------")
                # print()
                # print()
                if table_block.iloc[0].equals(df.iloc[i:i+1]):
                    print("True")
        # Update the previous row length
        prev_row_length = row_length

    # Close the Excel writer
    writer.close()
    return 'output_excel_file.xlsx'

In [348]:

# Path to the folder containing Excel files
import requests


folder_path = './output_excel_files_new'

# Initialize an empty dictionary to store data from all sheets of all files
all_sheets_dict = {}

# Iterate over all files in the folder
for file_name in os.listdir(folder_path):
    vaa = True 
    skip = ['Andhra University, Visakhapatnam_tables.xlsx',
            'Cochin University of Science and Technology_tables.xlsx',
            'Mumbai University_tables.xlsx',
            'Banasthali Vidyapith_tables.xlsx',
            'Indian Institute of Management Tiruchirappalli_tables.xlsx',
            'National College Tiruchirappalli_tables.xlsx',
            'Amrita Vishwa Vidyapeetham Coimbatore_tables.xlsx',
            'Dr. D. Y. Patil Vidyapeeth Pune_tables.xlsx',
            'Indian Institute of Technology (Indian School of Mines) Dhanbad_tables.xlsx',
            'JSS Academy of Higher Education and Research Mysuru_tables.xlsx',
            'Siksha O Anusandhan Bhubaneswar_tables.xlsx',
            'Sri Ramachandra Institute of Higher Education and Research Chennai_tables.xlsx']
    if file_name in skip:
        vaa = False
    if file_name.endswith('.xlsx') and vaa:  # Assuming all files are Excel files
        print(file_name)
        file_path1 = os.path.join(folder_path, file_name)
        file_path = sep_tables(file_path1)
        
        
        # Read all sheets of the current file into a dictionary
        sheets_dict = pd.read_excel(file_path, sheet_name=None, engine='openpyxl')

        
        # Merge the current sheets into the main dictionary
        all_sheets_dict.update(sheets_dict)
        
        dflen = len(all_sheets_dict)
        name_of_class = []
        no_of_male_students = []
        no_of_female_students = []
        no_of_total_students = []
        within_state_students = []
        outside_state_students = []
        outside_country_students = []
        economically_backward_students = []
        socially_challenged_students = []
        full_tuitionfee_reimburse_gov = []
        full_tuitionfee_reimburse_institution = []
        full_tuitionfee_reimburse_private = []
        full_tuitionfee_not_reimburse = []
        number_of_programs_offered = len(all_sheets_dict["Table_2"])
        for i in range(number_of_programs_offered):
            keys = all_sheets_dict["Table_3"].keys()
            class_name = str(all_sheets_dict["Table_3"][keys[0]][i]).replace('_x000D_',' ')
            male_students = int(all_sheets_dict["Table_3"][keys[1]][i])
            female_students = int(all_sheets_dict["Table_3"][keys[2]][i])
            total_students = int(all_sheets_dict["Table_3"][keys[3]][i])
            in_state_students = int(all_sheets_dict["Table_3"][keys[4]][i])
            out_state_students = int(all_sheets_dict["Table_3"][keys[5]][i])
            out_country_students = int(all_sheets_dict["Table_3"][keys[6]][i])
            eb_students = int(all_sheets_dict["Table_3"][keys[7]][i])
            schal_students = int(all_sheets_dict["Table_3"][keys[8]][i])
            ftrg_students = int(all_sheets_dict["Table_3"][keys[9]][i])
            ftri_students = int(all_sheets_dict["Table_3"][keys[10]][i])
            ftrp_students = int(all_sheets_dict["Table_3"][keys[11]][i])
            ftnr_students = int(all_sheets_dict["Table_3"][keys[12]][i])
            name_of_class.append(class_name)
            no_of_male_students.append(male_students)
            no_of_female_students.append(female_students)
            no_of_total_students.append(total_students)
            within_state_students.append(in_state_students)
            outside_state_students.append(out_state_students)
            outside_country_students.append(out_country_students)
            economically_backward_students.append(eb_students)
            socially_challenged_students.append(schal_students)
            full_tuitionfee_reimburse_gov.append(ftrg_students)
            full_tuitionfee_reimburse_institution.append(ftri_students)
            full_tuitionfee_reimburse_private.append(ftrp_students)
            full_tuitionfee_not_reimburse.append(ftnr_students)
        students_in_graduating_batch = []
        joining_academic_year = []
        graduating_academic_year = []
        median_salary = []
        no_of_selected_for_higher_studies = []
        number_of_students_graduating = []
        number_of_students_placed = []
        Tables = []
        for i in range(dflen):
            for key in all_sheets_dict[str("Table_"+str(i+1))].keys(): 
                if "Median salary" in str(key):
                    Tables.append(i+1)
        Tables = list(set(Tables))
        for i in Tables:
            table = all_sheets_dict["Table_"+str(i)]
            keys = table.keys()
            if len(table) > 3:
                j = 0
                for k in range(int((len(table)+1)/4)):
                    for key in keys:
                        # print(str(key).replace('_x000D_',' '))
                        if "first year students admitted" in str(key).replace('_x000D_',' '):
                            students_in_graduating_batch.append(int(table[key][2+j]))
                        elif "Academic Year.1" in str(key).replace('_x000D_',' '):
                            joining_academic_year.append(str(table['Academic Year'][2+j]).replace('_x000D_',' '))
                            if "Academic Year.2" in keys:
                                graduating_academic_year.append(str(table['Academic Year.2'][2+j]).replace('_x000D_',' '))
                            else:
                                graduating_academic_year.append(str(table['Academic Year.1'][2+j]).replace('_x000D_',' '))
                        elif "Median salary" in str(key).replace('_x000D_',' '):
                            median_salary.append(int(''.join(i for i in str(table[key][2+j]).replace('_x000D_',' ') if i.isdigit())))
                        elif "Higher Studies" in str(key).replace('_x000D_',' '):
                            no_of_selected_for_higher_studies.append(int(table[key][2+j]))
                        elif "minimum stipulated time" in str(key).replace('_x000D_',' '):
                            number_of_students_graduating.append(int(table[key][2+j]))
                        elif "students placed" in str(key).replace('_x000D_',' '):
                            number_of_students_placed.append(int(table[key][2+j]))
                    j+=4
                
            else:    
                for key in keys:
                    # print(str(key).replace('_x000D_',' '))
                    if "first year students admitted" in str(key).replace('_x000D_',' '):
                        students_in_graduating_batch.append(int(table[key][2]))
                    elif "Academic Year.1" in str(key).replace('_x000D_',' '):
                        joining_academic_year.append(str(table['Academic Year'][2]).replace('_x000D_',' '))
                        if "Academic Year.2" in keys:
                            graduating_academic_year.append(str(table['Academic Year.2'][2]).replace('_x000D_',' '))
                        else:
                            graduating_academic_year.append(str(table['Academic Year.1'][2]).replace('_x000D_',' '))
                    elif "Median salary" in str(key).replace('_x000D_',' '):
                        median_salary.append(int(''.join(i for i in str(table[key][2]).replace('_x000D_',' ') if i.isdigit())))
                    elif "Higher Studies" in str(key).replace('_x000D_',' '):
                        no_of_selected_for_higher_studies.append(int(table[key][2]))
                    elif "minimum stipulated time" in str(key).replace('_x000D_',' '):
                        number_of_students_graduating.append(int(table[key][2]))
                    elif "students placed" in str(key).replace('_x000D_',' '):
                        number_of_students_placed.append(int(table[key][2]))
        fulltime_phd = 0
        parttime_phd = 0
        Tables = []
        for i in range(dflen):
            for key in all_sheets_dict[str("Table_"+str(i+1))].keys(): 
                if "Full Time" in str(key):
                    Tables.append(i+1)
        if len(Tables) > 0:
            fulltime_phd =  all_sheets_dict["Table_"+str(Tables[0])].keys()[1]
            parttime_phd = all_sheets_dict["Table_"+str(Tables[0])].iloc[0,1]
        amount_received_research = None
        flag = True
        for i in range(dflen):
            table = all_sheets_dict["Table_"+str(i+1)]
            for index, row in table.iterrows():
                for col in table.columns:
                    if str(table.at[index, col]).replace('_x000D_',' ') == "Total Amount Received (Amount in Rupees)" and flag:
                        amount_received_research = str(table.at[index, table.columns[1]]).replace('_x000D_',' ')
                        flag = False
        pcs_lift_ramps  = False
        pcs_wheelchair = False
        pcs_designed_toilets = False
        no_of_faculty = None
        table = all_sheets_dict["Table_"+str(dflen-1)]
        for key in table.keys():
            if "Lifts/Ramps" in key:
                if "yes" in str(table.keys()[1]).replace('_x000D_',' ').lower():
                            pcs_lift_ramps = True
        for index, row in table.iterrows():
                for col in table.columns:
                    # print(str(table.at[index, col]).replace('_x000D_',' '))
                    if "Lifts/Ramps" in str(table.at[index, col]).replace('_x000D_',' '): 
                        if "yes" in str(table.at[index, table.columns[1]]).replace('_x000D_',' ').lower():
                            pcs_lift_ramps = True
                    if "wheelchairs and transportation" in str(table.at[index, col]).replace('_x000D_',' '): 
                        if "yes" in str(table.at[index, table.columns[1]]).lower():
                            pcs_wheelchair = True
                    if "specially designed toilets" in str(table.at[index, col]).replace('_x000D_',' '):  
                        if "yes" in str(table.at[index, table.columns[1]]).lower():
                            pcs_designed_toilets = True
        no_of_faculty = int(all_sheets_dict["Table_"+str(dflen)].keys()[1])
        print(name_of_class,
              no_of_male_students,
              no_of_female_students,
              no_of_total_students,
            within_state_students,
        outside_state_students,
        outside_country_students,
        economically_backward_students,
        socially_challenged_students,
        full_tuitionfee_reimburse_gov,
        full_tuitionfee_reimburse_institution,
        full_tuitionfee_reimburse_private,
        full_tuitionfee_not_reimburse,
        students_in_graduating_batch,
        joining_academic_year,
        graduating_academic_year,
        median_salary,
        no_of_selected_for_higher_studies,
        number_of_students_graduating,
        number_of_students_placed,
        fulltime_phd,
        parttime_phd,
        amount_received_research,
        pcs_lift_ramps,
        pcs_wheelchair,
        pcs_designed_toilets,no_of_faculty)
        url = "http://localhost:8000/api/addCollege"
        no_of_male_students = [int(value) for value in no_of_male_students]
        no_of_female_students = [int(value) for value in no_of_female_students]
        no_of_total_students = [int(value) for value in no_of_total_students]
        within_state_students = [int(value) for value in within_state_students]
        outside_state_students = [int(value) for value in outside_state_students]
        outside_country_students = [int(value) for value in outside_country_students]
        economically_backward_students = [int(value) for value in economically_backward_students]
        socially_challenged_students = [int(value) for value in socially_challenged_students]
        full_tuitionfee_reimburse_gov = [int(value) for value in full_tuitionfee_reimburse_gov]
        full_tuitionfee_reimburse_institution = [int(value) for value in full_tuitionfee_reimburse_institution]
        full_tuitionfee_reimburse_private = [int(value) for value in full_tuitionfee_reimburse_private]
        full_tuitionfee_not_reimburse = [int(value) for value in full_tuitionfee_not_reimburse]
        # Define the data to be sent to the API
        data = {
            "name": file_name.split("_tables")[0],
            "ssDataArray": [
        {
            "name_of_class": name_of_class[i],
            "no_of_male_students": no_of_male_students[i],
            "no_of_female_students": no_of_female_students[i],
            "no_of_total_students": no_of_total_students[i],
            "within_state_students": within_state_students[i],
            "outside_state_students": outside_state_students[i],
            "outside_country_students": outside_country_students[i],
            "economically_backward_students": economically_backward_students[i],
            "socially_challenged_students": socially_challenged_students[i],
            "full_tuitionfee_reimburse_gov": full_tuitionfee_reimburse_gov[i],
            "full_tuitionfee_reimburse_institution": full_tuitionfee_reimburse_institution[i],
            "full_tuitionfee_reimburse_private": full_tuitionfee_reimburse_private[i],
            "full_tuitionfee_not_reimburse": full_tuitionfee_not_reimburse[i],
            "students_in_graduating_batch": students_in_graduating_batch[i],
            "joining_academic_year": joining_academic_year[i],
            "graduating_academic_year": graduating_academic_year[i],
            "median_salary": median_salary[i],
            "no_of_selected_for_higher_studies": no_of_selected_for_higher_studies[i],
            "number_of_students_graduating": number_of_students_graduating[i],
            "number_of_students_placed": number_of_students_placed[i]
        }
        for i in range(len(graduating_academic_year))
    ],
    "fulltime_phd": int(fulltime_phd),
    "parttime_phd": int(parttime_phd),
    "amount_received_research": int(amount_received_research),
    "pcs_lift_ramps": pcs_lift_ramps,
    "pcs_wheelchair": pcs_wheelchair,
    "pcs_designed_toilets": pcs_designed_toilets,
    "no_of_faculty": int(no_of_faculty)
        }

        # Sending POST request to the API
        response = requests.post(url, json=data)

        # Checking the response
        if response.status_code == 200:
            print("College added successfully:", response.json())
        elif response.status_code == 400:
            print("Error:", response.json()["error"])
        else:
            print("Failed to add college. Status code:", response.status_code)

Acharya NG Ranga Agricultural University, Guntur_tables.xlsx
['UG [4 Years Program(s)]', 'PG [2 Year Program(s)]'] [1588, 145] [2627, 246] [4215, 391] [4009, 372] [205, 19] [1, 0] [549, 19] [2659, 274] [2638, 139] [0, 145] [16, 1] [554, 8] [999, 176] ['2018-19', '2020-21'] ['2021-22', '2021-22'] [400000, 500000] [365, 44] [901, 118] [160, 28] 119 1 101111236 True False True 610
Error:  college already exists
Alagappa Government Arts College, Karaikudi_tables.xlsx
['UG [3 Years Program(s)]', 'PG [2 Year Program(s)]'] [1127, 113] [2142, 411] [3269, 524] [3269, 524] [0, 0] [0, 0] [1507, 237] [1762, 287] [3269, 524] [0, 0] [0, 0] [0, 0] [1043, 243] ['2019-20', '2020-21'] ['2021-22', '2021-22'] [129000, 145000] [415, 37] [864, 227] [199, 89] 0 0 101111236 True False True 610
Error:  college already exists
Alagappa University Karaikudi_tables.xlsx
['UG [3 Years Program(s)]', 'UG [4 Years Program(s)]', 'PG [1 Year Program(s)]', 'PG [2 Year Program(s)]', 'PG [3 Year Program(s)]', 'PG-Integrated'] [436, 54, 14, 779, 54, 80] [359, 63, 32, 1765, 149, 74] [795, 117, 46, 2544, 203, 154] [788, 116, 45, 2430, 203, 152] [5, 1, 1, 111, 0, 2] [2, 0, 0, 3, 0, 0] [399, 60, 22, 1280, 105, 72] [383, 54, 23, 1090, 89, 74] [132, 0, 6, 317, 22, 10] [0, 0, 0, 0, 0, 0] [6, 0, 0, 48, 3, 3] [644, 114, 39, 2005, 169, 133] [237, 27, 46, 1226, 69, 4] ['2019-20', '2018-19', '2021-22', '2020-21', '2019-20', '2017-18'] ['2021-22', '2021-22', '2021-22', '2021-22', '2021-22', '2021-22'] [144000, 0, 0, 246000, 270000, 0] [25, 0, 0, 50, 0, 0] [194, 19, 22, 1109, 65, 0] [47, 0, 0, 176, 16, 0] 779 878 160407480 True True True 378
Error:  college already exists
Aligarh Muslim University_tables.xlsx
['UG [5 Years Program(s)]', 'PG [2 Year Program(s)]'] [706, 43] [393, 33] [1099, 76] [487, 62] [607, 14] [5, 0] [35, 2] [192, 3] [20, 2] [0, 0] [0, 0] [207, 3] [220, 35] ['2017-18', '2020-21'] ['2021-22', '2021-22'] [1230000, 1032000] [32, 16] [219, 35] [181, 10] 77 3 250000 True True True 378
Error:  college already exists
All India Institute of Medical Sciences Bhopal_tables.xlsx
['UG [5 Years Program(s)]', 'PG [3 Year Program(s)]'] [395, 109] [151, 124] [546, 233] [56, 15] [490, 218] [0, 0] [24, 18] [275, 100] [49, 0] [0, 0] [0, 0] [250, 118] [100, 88] ['2016-17', '2019-20'] ['2020-21', '2021-22'] [100000, 100000] [44, 10] [98, 84] [8, 54] 22 0 131224108 True True True 231
Error:  college already exists
All India Institute of Medical Sciences Jodhpur_tables.xlsx
['UG [5 Years Program(s)]', 'PG [2 Year Program(s)]', 'PG [3 Year Program(s)]'] [418, 24, 260] [130, 67, 238] [548, 91, 498] [333, 33, 62] [213, 58, 436] [2, 0, 0] [24, 5, 43] [283, 36, 225] [47, 0, 0] [0, 0, 0] [0, 0, 0] [260, 41, 268] [100, 52, 109] ['2016-17', '2020-21', '2019-20'] ['2020-21', '2021-22', '2021-22'] [1103424, 912912, 1321140] [56, 0, 15] [80, 42, 94] [24, 32, 71] 20 9 84680774 True True True 224
Error:  college already exists
All India Institute of Medical Sciences, Delhi New Delhi_tables.xlsx
['UG [5 Years Program(s)]', 'PG [2 Year Program(s)]', 'PG [3 Year Program(s)]'] [534, 32, 968] [185, 144, 616] [719, 176, 1584] [41, 65, 156] [637, 111, 1383] [41, 0, 45] [40, 10, 78] [369, 74, 431] [0, 0, 0] [0, 0, 0] [0, 0, 0] [409, 84, 509] [105, 123, 361] ['2016-17', '2020-21', '2019-20'] ['2020-21', '2021-22', '2021-22'] [0, 0, 2000000] [96, 12, 55] [96, 122, 360] [0, 0, 305] 303 0 1018179784 True True True 734
Error:  college already exists
All India Institute of Medical Sciences, Rishikesh_tables.xlsx
['UG [5 Years Program(s)]', 'PG [2 Year Program(s)]', 'PG [3 Year Program(s)]'] [386, 12, 367] [164, 40, 220] [550, 52, 587] [14, 5, 6] [535, 47, 480] [1, 0, 101] [25, 2, 26] [290, 18, 126] [27, 0, 0] [0, 0, 0] [4, 0, 0] [284, 20, 152] [100, 39, 219] ['2016-17', '2020-21', '2019-20'] ['2020-21', '2021-22', '2021-22'] [1200000, 1296000, 2160000] [12, 4, 8] [94, 16, 201] [54, 11, 191] 89 0 41404352 True True True 230
Error:  college already exists
All India Institute of Medical Sciences,Patna_tables.xlsx
['UG [5 Years Program(s)]', 'PG [3 Year Program(s)]'] [419, 166] [152, 103] [571, 269] [195, 35] [376, 234] [0, 0] [21, 14] [326, 85] [47, 0] [0, 0] [50, 0] [250, 99] [100, 77] ['2016-17', '2019-20'] ['2020-21', '2021-22'] [1236000, 1440000] [56, 22] [99, 67] [43, 45] 1 3 261627550 True True True 230
Error:  college already exists
Amity University Gautam Budh Nagar_tables.xlsx
['UG [3 Years Program(s)]', 'UG [4 Years Program(s)]', 'UG [5 Years Program(s)]', 'PG [1 Year Program(s)]', 'PG [2 Year Program(s)]', 'PG [3 Year Program(s)]', 'PG-Integrated'] [6519, 5940, 2430, 145, 2102, 27, 327] [5852, 4813, 2021, 199, 3607, 11, 449] [12371, 10753, 4451, 344, 5709, 38, 776] [4669, 3872, 1978, 143, 1743, 10, 205] [7627, 6848, 2470, 201, 3945, 27, 567] [75, 33, 3, 0, 21, 1, 4] [742, 517, 251, 23, 290, 4, 41] [1999, 1856, 641, 125, 1007, 9, 118] [0, 0, 0, 0, 0, 0, 0] [101, 84, 28, 4, 31, 0, 29] [0, 0, 0, 0, 0, 0, 0] [2640, 2289, 864, 144, 1266, 13, 130] [4413, 2808, 842, 354, 2926, 10, 191] ['2019-20', '2018-19', '2017-18', '2021-22', '2020-21', '2019-20', '2017-18'] ['2021-22', '2021-22', '2021-22', '2021-22', '2021-22', '2021-22', '2021-22'] [450000, 550000, 240000, 300000, 550000, 400000, 500000] [1873, 290, 10, 12, 99, 1, 5] [4307, 2768, 833, 349, 2737, 9, 185] [367, 1621, 41, 26, 1150, 8, 67] 777 1852 60961825 True True True 230
Error:  college already exists
Anand Agricultural University_tables.xlsx
['UG [4 Years Program(s)]', 'PG [2 Year Program(s)]'] [1100, 200] [538, 123] [1638, 323] [1570, 265] [68, 58] [0, 0] [159, 23] [687, 111] [538, 123] [0, 0] [0, 0] [308, 11] [450, 171] ['2018-19', '2020-21'] ['2021-22', '2021-22'] [490000, 780000] [218, 84] [418, 170] [182, 82] 152 0 385699800 True True True 230
Error:  college already exists
Anna University Chennai_tables.xlsx
['UG [4 Years Program(s)]', 'UG [5 Years Program(s)]', 'PG [2 Year Program(s)]', 'PG [3 Year Program(s)]', 'PG-Integrated'] [5515, 147, 1091, 240, 214] [3657, 249, 1006, 106, 197] [9172, 396, 2097, 346, 411] [8947, 390, 2034, 310, 406] [105, 5, 59, 36, 5] [120, 1, 4, 0, 0] [632, 23, 135, 14, 17] [7083, 337, 1851, 291, 376] [3926, 94, 611, 113, 64] [75, 0, 2, 0, 0] [540, 2, 0, 0, 0] [3174, 264, 1373, 192, 329] [2878, 113, 1107, 106, 96] ['2018-19', '2017-18', '2020-21', '2019-20', '2017-18'] ['2021-22', '2021-22', '2021-22', '2021-22', '2021-22'] [630000, 216000, 500000, 500000, 750000] [142, 5, 36, 0, 3] [2633, 89, 919, 86, 85] [1669, 3, 323, 66, 32] 1078 651 468110570 True True True 230
Error:  college already exists
Babasheb Bhimrao Ambedkar University Lucknow_tables.xlsx
['UG [3 Years Program(s)]', 'UG [4 Years Program(s)]', 'UG [5 Years Program(s)]', 'PG [1 Year Program(s)]', 'PG [2 Year Program(s)]'] [260, 81, 74, 13, 1276] [280, 29, 46, 25, 1520] [540, 110, 120, 38, 2796] [193, 57, 72, 15, 894] [345, 53, 48, 23, 1898] [2, 0, 0, 0, 4] [64, 14, 12, 4, 294] [384, 65, 82, 28, 1956] [181, 63, 78, 8, 783] [267, 0, 0, 20, 1427] [0, 0, 0, 0, 0] [0, 16, 16, 4, 40] [180, 110, 60, 38, 1398] ['2019-20', '2018-19', '2017-18', '2021-22', '2020-21'] ['2021-22', '2021-22', '2021-22', '2021-22', '2021-22'] [594000, 375000, 572000, 598000, 675000] [77, 18, 13, 2, 158] [180, 110, 60, 38, 1398] [103, 92, 47, 36, 1240] 665 0 134025000 True True True 230
Error:  college already exists
Banaras Hindu University Varanasi_tables.xlsx
['UG [4 Years Program(s)]', 'UG [5 Years Program(s)]', 'PG [2 Year Program(s)]'] [3273, 1289, 530] [700, 264, 85] [3973, 1553, 615] [952, 372, 215] [3020, 1179, 392] [1, 2, 8] [919, 342, 184] [1775, 699, 409] [607, 83, 0] [1887, 931, 593] [200, 27, 0] [0, 0, 0] [803, 266, 435] ['2018-19', '2017-18', '2020-21'] ['2021-22', '2021-22', '2021-22'] [1896000, 1896000, 1800000] [32, 24, 26] [783, 265, 288] [748, 241, 258] 1011 5 290548221 True True True 230
Error:  college already exists
Bangalore University_tables.xlsx
['UG [3 Years Program(s)]', 'UG [4 Years Program(s)]', 'PG [2 Year Program(s)]'] [6702, 2938, 1978] [5664, 1387, 1815] [12366, 4325, 3793] [5719, 1105, 1623] [5575, 2290, 1990] [1072, 930, 180] [462, 84, 212] [4823, 1330, 1654] [1904, 794, 377] [212, 85, 81] [24, 8, 12] [3145, 527, 1396] [4064, 865, 1644] ['2019-20', '2018-19', '2020-21'] ['2021-22', '2021-22', '2021-22'] [515000, 778000, 726000] [1385, 192, 73] [3942, 912, 1621] [2262, 582, 1411] 735 100 57603387 True True True 230
Error:  college already exists
Bharathiar University Coimbatore_tables.xlsx
['UG [3 Years Program(s)]', 'PG [2 Year Program(s)]'] [317, 936] [157, 1769] [474, 2705] [460, 2431] [14, 265] [0, 9] [39, 225] [203, 1159] [33, 191] [26, 149] [6, 34] [177, 1010] [145, 1330] ['2019-20', '2020-21'] ['2021-22', '2021-22'] [280000, 660000] [63, 396] [134, 1195] [71, 798] 640 182 313507185 True True True 230
Error:  college already exists
Bharathidasan University Tiruchirappalli_tables.xlsx
['UG [3 Years Program(s)]', 'PG [2 Year Program(s)]', 'PG-Integrated', 'PG [6 Year Program(s)]'] [207, 485, 274, 236] [46, 955, 373, 201] [253, 1440, 647, 437] [245, 1324, 629, 422] [7, 115, 18, 15] [1, 1, 0, 0] [4, 29, 27, 0] [225, 987, 559, 352] [84, 285, 95, 85] [0, 0, 0, 0] [0, 7, 0, 0] [145, 724, 491, 267] [103, 613, 130, 58] ['2019-20', '2020-21', '2017-18', '2016-17'] ['2021-22', '2021-22', '2021-22', '2021-22'] [156000, 240000, 280000, 288000] [13, 166, 11, 11] [93, 577, 119, 38] [31, 235, 36, 24] 454 265 288930305 True True True 230
Error:  college already exists
Bharati Vidyapeeth Pune_tables.xlsx
['UG [5 Years Program(s)]', 'PG [3 Year Program(s)]'] [124, 19] [398, 95] [522, 114] [425, 87] [97, 27] [0, 0] [0, 0] [102, 10] [0, 0] [0, 0] [0, 0] [102, 10] [100, 36] ['2017-18', '2019-20'] ['2021-22', '2021-22'] [343333, 566667] [21, 2] [78, 36] [39, 34] 10 0 0 True True True 230
Error:  college already exists
Birla Institute of Technology & Science -Pilani_tables.xlsx
['UG [4 Years Program(s)]', 'PG [2 Year Program(s)]'] [10554, 1216] [1743, 417] [12297, 1633] [2878, 148] [8976, 1485] [443, 0] [2618, 658] [658, 290] [0, 0] [16, 0] [0, 0] [3260, 948] [2928, 838] ['2018-19', '2020-21'] ['2021-22', '2021-22'] [1800000, 1217698] [110, 4] [2908, 833] [2555, 726] 1348 360 513082486 True True True 230
Error:  college already exists
Bundelkhand University Jhansi_tables.xlsx
['UG [4 Years Program(s)]', 'PG [2 Year Program(s)]'] [245, 9] [101, 9] [346, 18] [340, 16] [6, 2] [0, 0] [23, 1] [223, 10] [207, 10] [0, 0] [0, 0] [39, 1] [60, 15] ['2018-19', '2020-21'] ['2021-22', '2021-22'] [419000, 475000] [17, 0] [56, 14] [31, 12] 17 0 300000 True True True 230
Error:  college already exists
Calcutta University Kolkata_tables.xlsx
['UG [3 Years Program(s)]', 'UG [4 Years Program(s)]', 'UG [5 Years Program(s)]', 'PG [1 Year Program(s)]', 'PG [2 Year Program(s)]', 'PG [3 Year Program(s)]', 'PG-Integrated'] [0, 997, 342, 71, 4388, 62, 0] [196, 306, 349, 0, 7463, 28, 0] [196, 1303, 691, 71, 11851, 90, 0] [193, 1164, 630, 71, 10447, 89, 0] [3, 137, 61, 0, 1365, 1, 0] [0, 2, 0, 0, 39, 0, 0] [0, 0, 462, 0, 6980, 0, 0] [72, 201, 229, 0, 4871, 14, 0] [0, 0, 112, 0, 4043, 0, 0] [0, 0, 0, 0, 3544, 0, 0] [0, 0, 6, 0, 0, 0, 0] [72, 201, 573, 0, 4264, 14, 0] [422, 365, 120, 71, 6037, 108, 41] ['2019-20', '2018-19', '2017-18', '2021-22', '2020-21', '2019-20', '2017-18'] ['2021-22', '2021-22', '2021-22', '2021-22', '2021-22', '2021-22', '2021-22'] [917000, 920000, 784000, 540000, 920000, 980000, 870000] [165, 52, 24, 8, 1774, 13, 9] [417, 357, 119, 64, 5975, 98, 41] [252, 305, 95, 56, 4201, 85, 32] 1610 2069 921245785 True True True 230
Error:  college already exists
Central University of Jammu_tables.xlsx
['UG [3 Years Program(s)]', 'UG [5 Years Program(s)]', 'PG [1 Year Program(s)]', 'PG [2 Year Program(s)]', 'PG [3 Year Program(s)]'] [94, 164, 3, 1054, 176] [51, 211, 22, 2408, 179] [145, 375, 25, 3462, 355] [145, 375, 25, 3445, 355] [0, 0, 0, 14, 0] [0, 0, 0, 3, 0] [0, 2, 1, 77, 0] [8, 46, 2, 438, 49] [8, 28, 3, 357, 37] [0, 0, 0, 68, 2] [0, 0, 0, 0, 0] [0, 20, 0, 90, 10] [49, 73, 21, 1601, 212] ['2019-20', '2017-18', '2021-22', '2020-21', '2019-20'] ['2021-22', '2021-22', '2021-22', '2021-22', '2021-22'] [480000, 556000, 560000, 560000, 540000] [15, 5, 1, 291, 8] [42, 73, 21, 1492, 158] [4, 29, 5, 307, 22] 555 123 195141072 True True True 230
Error:  college already exists
Centre For Advanced Studies Lucknow_tables.xlsx
['PG [2 Year Program(s)]'] [781] [348] [1129] [134] [995] [0] [110] [550] [38] [76] [0] [546] [556] ['2020-21'] ['2021-22'] [2900000] [0] [515] [515] 89 108 3547750 True True True 230
Error:  college already exists
Chandigarh University Mohali_tables.xlsx
['UG [3 Years Program(s)]', 'UG [4 Years Program(s)]', 'UG [5 Years Program(s)]', 'PG [1 Year Program(s)]', 'PG [2 Year Program(s)]', 'PG [6 Year Program(s)]'] [3603, 7544, 1567, 12, 1588, 48] [3919, 7012, 1366, 48, 2553, 42] [7522, 14556, 2933, 60, 4141, 90] [438, 943, 274, 11, 527, 11] [5613, 12566, 2552, 41, 3247, 73] [1471, 1047, 107, 8, 367, 6] [641, 2478, 167, 4, 341, 10] [1323, 2709, 392, 3, 923, 3] [541, 836, 62, 1, 201, 0] [968, 3511, 146, 1, 478, 8] [4, 8, 0, 0, 3, 0] [451, 832, 351, 5, 582, 5] [2255, 3508, 511, 60, 1822, 0] ['2019-20', '2018-19', '2017-18', '2021-22', '2020-21', '2016-17'] ['2021-22', '2021-22', '2021-22', '2021-22', '2021-22', '2021-22'] [270000, 750000, 380000, 250000, 635000, 0] [791, 883, 166, 11, 513, 0] [2139, 3311, 438, 59, 1716, 0] [1348, 2428, 272, 48, 1203, 0] 951 652 631984600 True True True 230
Error:  college already exists
Christ University Bengaluru_tables.xlsx
['UG [5 Years Program(s)]', 'PG [1 Year Program(s)]'] [1104, 48] [936, 120] [2040, 168] [666, 40] [1365, 128] [9, 0] [239, 38] [164, 26] [6, 0] [203, 21] [0, 2] [194, 41] [284, 170] ['2017-18', '2021-22'] ['2021-22', '2021-22'] [483200, 367800] [72, 8] [262, 153] [171, 134] 42 57 531450 True True True 230
Error:  college already exists
Coimbatore Institute of Engineering and Technology_tables.xlsx
['UG [4 Years Program(s)]', 'PG [2 Year Program(s)]'] [2108, 44] [867, 23] [2975, 67] [2883, 66] [92, 1] [0, 0] [85, 2] [2890, 2] [1412, 0] [94, 0] [36, 0] [1433, 4] [736, 36] ['2018-19', '2020-21'] ['2021-22', '2021-22'] [500000, 470000] [85, 3] [766, 33] [680, 20] 104 208 10167499 True True True 230
Error:  college already exists
Coimbatore Institute of Technology_tables.xlsx
['UG [4 Years Program(s)]', 'PG [2 Year Program(s)]'] [2108, 44] [867, 23] [2975, 67] [2883, 66] [92, 1] [0, 0] [85, 2] [2890, 2] [1412, 0] [94, 0] [36, 0] [1433, 4] [736, 36] ['2018-19', '2020-21'] ['2021-22', '2021-22'] [500000, 470000] [85, 3] [766, 33] [680, 20] 104 208 10167499 True True True 230
Error:  college already exists
College of Engineering, Pune_tables.xlsx
['UG [4 Years Program(s)]', 'PG [2 Year Program(s)]'] [2073, 530] [903, 211] [2976, 741] [2710, 729] [88, 11] [178, 1] [257, 17] [1500, 447] [1468, 239] [86, 1] [203, 3] [0, 221] [676, 440] ['2018-19', '2020-21'] ['2021-22', '2021-22'] [970000, 696000] [135, 35] [714, 375] [577, 329] 83 176 227821000 True True True 230
Error:  college already exists
Datta Meghe Institute of Higher Education and Research Wardha_tables.xlsx
['UG [3 Years Program(s)]', 'UG [4 Years Program(s)]', 'UG [5 Years Program(s)]', 'PG [2 Year Program(s)]', 'PG [3 Year Program(s)]'] [377, 374, 887, 236, 260] [617, 673, 1462, 417, 355] [994, 1047, 2349, 653, 615] [710, 645, 807, 392, 213] [281, 398, 1497, 259, 337] [3, 4, 45, 2, 65] [0, 18, 40, 0, 2] [787, 730, 916, 224, 174] [0, 0, 0, 0, 0] [141, 196, 189, 179, 76] [0, 29, 0, 0, 0] [646, 523, 767, 45, 100] [212, 157, 359, 166, 169] ['2019-20', '2018-19', '2017-18', '2020-21', '2019-20'] ['2021-22', '2021-22', '2021-22', '2021-22', '2021-22'] [480000, 468000, 1260000, 1320000, 1560000] [3, 5, 52, 4, 7] [184, 124, 336, 149, 163] [181, 115, 283, 145, 156] 670 214 89681517 True True True 230
Error:  college already exists
Delhi Pharmaceutical Sciences and Research University_tables.xlsx
['UG [4 Years Program(s)]', 'PG [2 Year Program(s)]'] [305, 125] [315, 138] [620, 263] [484, 185] [117, 74] [19, 4] [38, 2] [231, 81] [58, 0] [110, 44] [1, 0] [100, 39] [116, 129] ['2018-19', '2020-21'] ['2021-22', '2021-22'] [450000, 652000] [104, 10] [133, 113] [16, 90] 141 0 5736307 True True True 230
Error:  college already exists
Delhi Technological University New Delhi_tables.xlsx
['UG [3 Years Program(s)]', 'UG [4 Years Program(s)]', 'PG [2 Year Program(s)]'] [625, 8227, 894] [400, 1425, 418] [1025, 9652, 1312] [742, 4533, 307] [283, 4548, 954] [0, 571, 51] [20, 98, 25] [254, 4430, 363] [84, 2281, 324] [45, 737, 43] [10, 47, 2] [135, 1463, 19] [231, 2240, 594] ['2019-20', '2018-19', '2020-21'] ['2021-22', '2021-22', '2021-22'] [600000, 1300000, 1000000] [154, 251, 92] [228, 2131, 577] [74, 1880, 485] 750 667 90000000 True True True 230
Error:  college already exists
Dr Rajendra Prasad Central Agricultural University, Samastipur_tables.xlsx
['UG [4 Years Program(s)]', 'PG [2 Year Program(s)]'] [638, 251] [409, 167] [1047, 418] [542, 89] [505, 329] [0, 0] [111, 125] [529, 212] [276, 0] [0, 0] [0, 0] [364, 337] [268, 239] ['2018-19', '2020-21'] ['2021-22', '2021-22'] [420000, 390588] [79, 85] [206, 222] [19, 71] 81 0 426768000 True True True 230
Error:  college already exists
Dr. B R Ambedkar National Institute of Technology, Jalandhar_tables.xlsx
['UG [4 Years Program(s)]', 'PG [2 Year Program(s)]'] [2636, 492] [1384, 394] [4020, 886] [1891, 94] [2094, 792] [35, 0] [329, 55] [2016, 329] [0, 0] [2091, 360] [85, 0] [169, 24] [794, 336] ['2018-19', '2020-21'] ['2021-22', '2021-22'] [891000, 720000] [83, 93] [662, 335] [556, 131] 319 232 46930861 True True True 230
Error:  college already exists
Dr. Y.S. Parmar University of Horticulture and Forestry, Solan_tables.xlsx
['UG [4 Years Program(s)]', 'PG [2 Year Program(s)]'] [691, 204] [1113, 325] [1804, 529] [1700, 440] [103, 78] [1, 11] [39, 23] [427, 120] [1, 8] [34, 13] [0, 0] [431, 122] [422, 322] ['2018-19', '2020-21'] ['2021-22', '2021-22'] [350000, 470000] [230, 0] [345, 322] [115, 112] 405 0 322479552 True True True 230
Error:  college already exists
G. H. Raisoni College of Engineering, Nagpur_tables.xlsx
['UG [4 Years Program(s)]', 'PG [2 Year Program(s)]'] [2212, 139] [1612, 95] [3824, 234] [3029, 217] [774, 15] [21, 2] [623, 0] [2392, 22] [2129, 22] [208, 0] [23, 0] [655, 0] [900, 98] ['2018-19', '2020-21'] ['2021-22', '2021-22'] [400000, 450000] [110, 1] [951, 57] [626, 56] 0 40 932500 True True True 230
Error:  college already exists
G.B. Pant Universtiy of Agriculture and Technology, Pantnagar_tables.xlsx
['UG [4 Years Program(s)]', 'UG [5 Years Program(s)]', 'PG [2 Year Program(s)]'] [1602, 147, 392] [1207, 202, 377] [2809, 349, 769] [2341, 284, 539] [466, 65, 229] [2, 0, 1] [211, 19, 43] [1068, 148, 303] [671, 65, 188] [0, 0, 0] [0, 0, 8] [608, 102, 150] [761, 66, 362] ['2018-19', '2017-18', '2020-21'] ['2021-22', '2021-22', '2021-22'] [455000, 600000, 550000] [149, 29, 98] [697, 55, 323] [520, 26, 199] 491 0 410381396 True True True 230
Error:  college already exists
Global Academy of Technology Bengaluru_tables.xlsx
['PG [2 Year Program(s)]', 'PG-Integrated'] [294, 502] [65, 44] [359, 546] [7, 81] [352, 465] [0, 0] [9, 14] [12, 14] [0, 0] [6, 5] [0, 0] [15, 23] [179, 63] ['2020-21', '2017-18'] ['2021-22', '2021-22'] [2494000, 2300000] [0, 4] [177, 61] [177, 55] 44 42 725187634 True True True 230
Error:  college already exists
Government Medical College Thiruvananthapuram_tables.xlsx
['UG [5 Years Program(s)]', 'PG [3 Year Program(s)]'] [522, 205] [628, 509] [1150, 714] [1102, 661] [48, 53] [0, 0] [60, 24] [457, 263] [517, 92] [0, 0] [0, 0] [0, 195] [200, 218] ['2016-17', '2019-20'] ['2020-21', '2021-22'] [575000, 1650000] [169, 21] [190, 210] [21, 189] 0 0 10347687 True True True 230
Error:  college already exists
Govt. College for Women, Thiruvananthapuram_tables.xlsx

In [140]:
name_of_class = []
no_of_male_students = []
no_of_female_students = []
no_of_total_students = []
within_state_students = []
outside_state_students = []
outside_country_students = []
economically_backward_students = []
socially_challenged_students = []
full_tuitionfee_reimburse_gov = []
full_tuitionfee_reimburse_institution = []
full_tuitionfee_reimburse_private = []
full_tuitionfee_not_reimburse = []

In [347]:
all_sheets_dict["Table_6"]

Empty DataFrame
Columns: [2019-20, 235, 209, 2020-21, 0, 2021-22, 172, 57, 250000(Two Lakh Fifty, 100]
Index: []

In [157]:
number_of_programs_offered = len(all_sheets_dict["Table_2"])
for i in range(number_of_programs_offered):
    keys = all_sheets_dict["Table_3"].keys()
    class_name = str(all_sheets_dict["Table_3"][keys[0]][i]).replace('_x000D_',' ')
    male_students = int(all_sheets_dict["Table_3"][keys[1]][i])
    female_students = int(all_sheets_dict["Table_3"][keys[2]][i])
    total_students = int(all_sheets_dict["Table_3"][keys[3]][i])
    in_state_students = int(all_sheets_dict["Table_3"][keys[4]][i])
    out_state_students = int(all_sheets_dict["Table_3"][keys[5]][i])
    out_country_students = int(all_sheets_dict["Table_3"][keys[6]][i])
    eb_students = int(all_sheets_dict["Table_3"][keys[7]][i])
    schal_students = int(all_sheets_dict["Table_3"][keys[8]][i])
    ftrg_students = int(all_sheets_dict["Table_3"][keys[9]][i])
    ftri_students = int(all_sheets_dict["Table_3"][keys[10]][i])
    ftrp_students = int(all_sheets_dict["Table_3"][keys[11]][i])
    ftnr_students = int(all_sheets_dict["Table_3"][keys[12]][i])
    name_of_class.append(class_name)
    no_of_male_students.append(male_students)
    no_of_female_students.append(female_students)
    no_of_total_students.append(total_students)
    within_state_students.append(in_state_students)
    outside_state_students.append(out_state_students)
    outside_country_students.append(out_country_students)
    economically_backward_students.append(eb_students)
    socially_challenged_students.append(schal_students)
    full_tuitionfee_reimburse_gov.append(ftrg_students)
    full_tuitionfee_reimburse_institution.append(ftri_students)
    full_tuitionfee_reimburse_private.append(ftrp_students)
    full_tuitionfee_not_reimburse.append(ftnr_students)

In [158]:
print(name_of_class,no_of_male_students,no_of_female_students,no_of_total_students,
      within_state_students,
outside_state_students,
outside_country_students,
economically_backward_students,
socially_challenged_students,
full_tuitionfee_reimburse_gov,
full_tuitionfee_reimburse_institution,
full_tuitionfee_reimburse_private,
full_tuitionfee_not_reimburse)

['UG [4 Years_x000D_Program(s)]', 'PG [2 Year_x000D_Program(s)]', 'UG [4 Years Program(s)]', 'PG [2 Year Program(s)]', 'UG [4 Years Program(s)]', 'PG [2 Year Program(s)]'] [0, 0, 0, 0, 0, 0] [236, 63, 236, 63, 236, 63] [236, 63, 236, 63, 236, 63] [22, 3, 22, 3, 22, 3] [210, 60, 210, 60, 210, 60] [4, 0, 4, 0, 4, 0] [71, 35, 71, 35, 71, 35] [23, 5, 23, 5, 23, 5] [8, 1, 8, 1, 8, 1] [41, 33, 41, 33, 41, 33] [16, 5, 16, 5, 16, 5] [29, 1, 29, 1, 29, 1]

In [320]:
all_sheets_dict["Table_5"]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 1, Unnamed: 2, Unnamed: 3, Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, Thousand)]
Index: []

In [199]:
students_in_graduating_batch = []
joining_academic_year = []
graduating_academic_year = []
median_salary = []
no_of_selected_for_higher_studies = []
number_of_students_graduating = []
number_of_students_placed = []

In [200]:
Tables = []
for i in range(dflen):
    for key in all_sheets_dict[str("Table_"+str(i+1))].keys(): 
        if "Median salary" in str(key):
            Tables.append(i+1)
Tables = list(set(Tables))

In [202]:
for i in Tables:
    table = all_sheets_dict["Table_"+str(i)]
    keys = table.keys()
    for key in keys:
        # print(str(key).replace('_x000D_',' '))
        if "first year students admitted" in str(key).replace('_x000D_',' '):
            students_in_graduating_batch.append(int(table[key][2]))
        elif "Academic Year.1" in str(key).replace('_x000D_',' '):
            joining_academic_year.append(str(table['Academic Year'][2]).replace('_x000D_',' '))
            if "Academic Year.2" in keys:
                graduating_academic_year.append(str(table['Academic Year.2'][2]).replace('_x000D_',' '))
            else:
                graduating_academic_year.append(str(table['Academic Year.1'][2]).replace('_x000D_',' '))
        elif "Median salary" in str(key).replace('_x000D_',' '):
            median_salary.append(int(''.join(i for i in str(table[key][2]).replace('_x000D_',' ') if i.isdigit())))
        elif "Higher Studies" in str(key).replace('_x000D_',' '):
            no_of_selected_for_higher_studies.append(int(table[key][2]))
        elif "minimum stipulated time" in str(key).replace('_x000D_',' '):
            number_of_students_graduating.append(int(table[key][2]))
        elif "students placed" in str(key).replace('_x000D_',' '):
            number_of_students_placed.append(int(table[key][2]))

In [203]:
print(students_in_graduating_batch,
joining_academic_year,
graduating_academic_year,
median_salary,
no_of_selected_for_higher_studies,
number_of_students_graduating,
number_of_students_placed)

[60, 33] ['2018-19', '2020-21'] ['2021-22', '2021-22'] [410000, 550000] [45, 6] [58, 33] [13, 27]

In [204]:
all_sheets_dict["Table_4"]

,Academic Year,No. of first year_x000D_students intake in the_x000D_year,No. of first year_x000D_students admitted in_x000D_the year,Academic Year.1,No. of students_x000D_admitted through_x000D_Lateral entry,Academic Year.2,No. of students_x000D_graduating in_x000D_minimum stipulated_x000D_time,No. of students_x000D_placed,Median salary of_x000D_placed graduates per_x000D_annum(Amount in_x000D_Rs.),No. of students_x000D_selected for Higher_x000D_Studies
0,2016-17,60,58,2017-18,0,2019-20,58,20,280000(Two lakh_x000D_eighty thousand only),38
1,2017-18,60,55,2018-19,0,2020-21,54,13,350000(Three lakh fifty_x000D_thousand only),41
2,2018-19,60,60,2019-20,0,2021-22,58,13,410000(Four lakh ten_x000D_thousand only),45

In [205]:
fulltime_phd = None
parttime_phd = None

In [331]:
all_sheets_dict["Table_16"]

Empty DataFrame
Columns: [Unnamed: 0, Utilised Amount, Utilised Amount.1, Utilised Amount.2]
Index: []

In [208]:
Tables = []
for i in range(dflen):
    for key in all_sheets_dict[str("Table_"+str(i+1))].keys(): 
        if "Full Time" in str(key):
            Tables.append(i+1)

In [212]:
fulltime_phd = all_sheets_dict["Table_"+str(Tables[0])].keys()[1]
parttime_phd = all_sheets_dict["Table_"+str(Tables[0])].iloc[0,1]

In [214]:
print(fulltime_phd,
parttime_phd)

39 0

In [215]:
amount_received_research = None

In [216]:
Tables = []
for i in range(dflen):
    for key in all_sheets_dict[str("Table_"+str(i+1))]: 
        if "Financial Year" in str(key):
            Tables.append(i+1)

In [217]:
Tables

[]

In [224]:
for i in all_sheets_dict["Table_16"]:
    print(i)

AttributeError: 'DataFrame' object has no attribute 'rows'

In [241]:
all_sheets_dict["Table_17"]

,1. Do your institution buildings have Lifts/Ramps?,"Yes, more than 80% of the buildings"
0,2. Do your institution have provision for walk...,Yes
1,3. Do your institution buildings have speciall...,"Yes, more than 80% of the buildings"

In [235]:
flag = True
table = all_sheets_dict["Table_"+str(dflen-2)]
for index, row in table.iterrows():
    for col in table.columns:
        if str(table.at[index, col]).replace('_x000D_',' ') == "Total Amount Received (Amount in Rupees)" and flag:
            amount_received_research = str(table.at[index, table.columns[1]]).replace('_x000D_',' ')
            flag = False

In [236]:
amount_received_research

'26203987'

In [245]:
pcs_lift_ramps  = False
pcs_wheelchair = False
pcs_designed_toilets = False
no_of_faculty = None

In [248]:
table = all_sheets_dict["Table_"+str(dflen-1)]
if "yes" in str(table.keys()[1]).lower():
    pcs_lift_ramps = True
if "yes" in str(table.iloc[1:1]).lower():
    pcs_wheelchair = True
if "yes" in str(table.iloc[1:1]).lower():
    pcs_designed_toilets = True
no_of_faculty = int(all_sheets_dict["Table_"+str(dflen)].keys()[1])

In [249]:
print(pcs_lift_ramps,
pcs_wheelchair,
pcs_designed_toilets,no_of_faculty)

True True True 29